

.section {
    display: grid;
    grid-gap: 1rem;
    margin:1rem;
    border-radius: 4px;
    padding:1rem;
    background-color: #393939
}

.title {
    font-size: 2rem;
    color: white;
}

.example{
    color:white;
}


/* SPINNER  */
.spinner {
    animation: donut-spin 1.2s linear infinite;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: green;
    border-radius: 50%;
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Dynamic Height */
.height-grow-container:hover .grow-content {
  max-height: var(--max-height);
}

.grow-content {
  overflow: hidden;
  transition: max-height .25s ease-in-out;
  max-height: 0;
}


/* RESET STYLES */
.reset-styles {
  all: initial;
}